.totalPeople-container {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.totalPeople-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.totalPeople-section {
    display: flex;
    gap: 10px;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
}

.totalPeople-section > div {
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #f0f0f3;
    font-size: 14px;
    font-weight: lighter;
}