<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="subMain_mapper">


	<select id="findStoreWithFilters" resultType="Store" parameterType="hashmap">
		SELECT * FROM STORE
		<where>
			<if test="spoon != null">
				AND spoon = #{spoon}
			</if>
		</where>
	</select>
	
	<select id="findStoreDetailWithFilters" resultType="StoreDetail" parameterType="hashmap">
		SELECT * FROM STORE_DETAIL sd
		<where>
			<if test="spoon != null">
				AND sd.store_id IN (
					SELECT s.id FROM STORE s WHERE s.spoon = #{spoon}
				) 
			</if>
		</where>
	</select>
	
	<select id="findMenuWithFilters" resultType="Menu" parameterType="hashmap">
		SELECT * FROM MENU m
		<where>
			<if test="spoon != null">
				AND m.store_id IN (
					SELECT s.id FROM STORE s WHERE s.spoon = #{spoon}
				)
			</if>
		</where>
	</select>
	
	<select id="findSpoonNum" resultType="StoreFilter">
		SELECT spoon, COUNT(*) AS count
		FROM STORE
		GROUP BY spoon
		ORDER BY spoon
	</select>
	
	<select id="findTotalStore" resultType="int">
		SELECT COUNT(*) totalStore FROM STORE 
	</select>

</mapper>