.submain-container {
    width: 75%;
    margin-top: 50px;
}



/* 리액트 탭 기본 스타일 */
/* .react-tabs {
    width: 80%;
} */


.react-tabs__tab-list {
    background: white;
    display: flex;
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 18px;
    overflow: hidden;
}


.react-tabs__tab {
    flex: 1;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    color: #4b5563;
    font-weight: bold;
    background-color: transparent;
}


.react-tabs__tab--selected {
    background-color: #e11d48;
    color: white;
}

/* 필터 컨테이너 */
.tab-container {
    background: white;
    display: flex;
    border: 1px solid #ddd;
    padding: 16px;
    flex-direction: row;
}


/* 좌측 대분류 필터 */
.tab-menu {
    width: 25%;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.tab-menu button {
    width: 70%;
    border: none;
    background-color: #dddddd96;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.tab-menu button span {
    margin: 0;

}

.tab-menu button:hover {
    background-color: #e11d48;
}

.tab-menu button.active {
    background-color: #e23b3b;
    color: white;
}


/* 우측 소분류 필터 */
.tab-content {
    width: 80%;
    padding: 16px;
    gap: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.tab-content::after {
    content: "";
    display: block;
    clear: both;
}


.tab-content li {
    float: left;
    width: 33.33%;
    max-width: 150px;
    min-width: 100px;
    height: 50px;
    list-style: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin: 10px; 
}



.tab-content li:hover {
    background-color: #e11d48;
    color: white;
}





.tab-content li.active {
    background-color: #e11d48;
    color: white;
}

/* 스토어 카드 컨테이너 */
.store-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 50px;
    cursor: pointer;
}

