<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="review_mapper">



	<select id="findReviewByStoreId" resultType="Review" parameterType="int">
		SELECT * FROM REVIEW
		WHERE store_id = #{storeId}
		ORDER BY id DESC
	</select>

	<select id="findReviewImageByReviewId" resultType="ReviewImage" parameterType="int">
		SELECT * FROM
		REVIEW_IMAGE
		WHERE review_id = #{reviewId}
	</select>
	
	<update id="updateStoreRate" parameterType="hashmap">
		UPDATE STORE
		SET rate_total = rate_total + #{rate},
			rate_count = rate_count + 1
		WHERE id = #{storeId}
	</update>
	
	

	
	<select id="findReviewByUserId" parameterType="Integer" resultType="Review">
		SELECT * 
		FROM review
		WHERE user_id = #{userId}
	</select>
	
</mapper>