.menuContainer {
    width: 100%;
    margin-top: 25px;
}

.menuContainer .menuListContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0 15px 0;
    gap: 15px;
}

/* 빈 공간을 채우기 위한 가상 요소 : 마지막 box 홀수일 때 왼쪽정렬 */
.menuListContainer::after {
    content: "";
    width: 50%;
}

/* 메뉴 아이템 기본 스타일 */
.menuListContainer .menu {
    position: relative;
    width: calc(50% - 15px); /* gap만큼 빼주기 */
    min-height: 335px;
    
    border: 1px solid #00000000;
    background-color: #efdfff;
    border-radius: 10px;
    transition: box-shadow 0.1s ease, border 0.1s ease;

    &:hover {
        border: 1px solid #e2c2ff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1); /* shadow 추가 */
    }
}

/* 버튼 공통 스타일 */
.menu .menuBtn {
    background-color: #dbbef8;
    border-radius: 10px;
    font-weight: bold;

    &:hover {
        background-color: #bd9ae0;
    }

    &:active {
        background-color: black;
    }
}

.menu .menuButton {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.menu .menuDelete {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10%, 10%);
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 1.1;
    padding: 0;
    padding-left: 1px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.menu .menuAddBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60px;
    height: 60px;

    font-size: 30px;
    line-height: 1.8;
    padding: 0;
    padding-left: 2px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.menu .meneInput {
    /* width: calc(100% + 100px); */
    /* width: 100%; */
    width: 300px;
    /* transform: translate(-30px); */
}