<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
<!-- 		<typeAlias type="com.app.dto.user.User" alias="User" /> -->
<!-- 		<typeAlias type="com.app.dto.task.Task" alias="Task" /> -->
<!-- 		<typeAlias type="com.app.dto.board.Board" alias="Board" /> -->
<!-- 		<typeAlias type="com.app.dto.address.Address" alias="Address"/> -->
		<typeAlias type="com.app.dto.notice.Notice" alias="Notice"/> 
<!-- 		<typeAlias type="com.app.dto.user.UserSearchCondition" alias="UserSearchCondition"/> -->
	</typeAliases>
</configuration>

