<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.app.dto.menu.Menu" alias="Menu" />
		<typeAlias type="com.app.dto.store.Store" alias="Store" />
		<typeAlias type="com.app.dto.store.StoreDetail" alias="StoreDetail" />
		<typeAlias type="com.app.dto.store.StoreFilter" alias="StoreFilter" />
		<typeAlias type="com.app.dto.booking.Booking" alias="Booking" />
		<typeAlias type="com.app.dto.booking.BookingMenu" alias="BookingMenu" />
		<typeAlias type="com.app.dto.users.Users" alias="Users" />
		<typeAlias type="com.app.dto.file.ImageFile" alias="ImageFile" />
	</typeAliases>
</configuration>

